.header {
  border-radius: 10px;
  width: 600px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .header__input {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid;
    margin-top: 10px;
    width: 300px;
    height: 40px;
    margin-right: 10px;
  }
  .header__btn {
    border-radius: 8px;
    margin-top: 10px;
    background-color: #3596e6;
    color: white;
  }
}